body {
  padding: 0px;
  margin: 0px;
  background-color: #FAFBFF;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}