body {
  padding: 0px;
  margin: 0px;
  background-color: #fafbff;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
li {
  color: #9196ab;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

a {
  text-decoration: none;
}
